html {
    font-size: 14px;
}

body {
    font-family: var(--font-family);
    background-color: var(--surface-800);
    font-weight: normal;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 5px;
}

p {
    line-height: 1.75;
}